/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2016, 9:18:40 PM
    Author     : Grant
*/


body {
    box-sizing: border-box;
}

#bakery-nav, .left-info, .main, .right-info {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.right-info {
    display: none;
}
.left-info {
    display: block;
    background: aliceblue;
    padding-left: 5%;
}
.main {
    background: bisque;
    border: lightblue medium solid;
    padding: 15px 10px;
    box-sizing: border-box;
    margin-top: 1em;
}

.main::first-line {
    font-size: 120%;
    color: darkred;
}

body {
    margin: 0px 0px 0px 0px;  
    background: lightyellow;
}
#title-header {
    background-image: url("../img/bakery.jpg");
    text-align: center;
    margin-top: 0px;
}
#title-header h1 {
    text-align: left;
    color: steelblue;
    font-family: sans-serif;
    font-size: 180%;
    z-index: 1;
    background: white;
    -webkit-filter: opacity(70%);
    filter: opacity(70%);
    border-bottom: steelblue medium solid;
    margin: 0px;
    position: relative;
    left: 15%;
    width: 85%;
}

.food-pic {
    display: none;
}

#title-header #bakery-logo {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 0;
}
#title-header nav {
    display: block;
    margin-top: 80px;
}
#title-header nav a {
    box-sizing: border-box;
    padding: .5em;
    background: white;
    color: indianred;
    width: 100%;
    border: lightblue medium solid; 
    display: block;
    margin-right: 3px;
    border-bottom-color: blanchedalmond;
    font-size: 110%;
}
#title-header nav a:hover {
    background: antiquewhite;
}


footer {
    background: steelblue;
    color: beige;
    display: block;
    position: relative; 
    bottom: 0px;
    width: 100%;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
    border-top: goldenrod medium solid;
}

hr {
    border-top: lightblue medium groove;
    border-bottom: aqua thin double;
}